.hide {
  display: none;
}

body{
  background: #2F4F4F;
  color: #B8860D;
  text-align: center;
}

*{
  margin: 1;
  padding: 1;
}

h1, h3{
  color: #40E0DO
}

h1{
  font-size: 100px;
}

h3{
  font-size: 60px;
}

h5{
  font-size: 30px;
}

.row{
  margin-top: 30px;
}

.message2{
  font-size: 30px;
  font-style: normal;
}
